<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/foundation.min.css" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr.js"></script>

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                <a
              href="https://www.facebook.com/groups/437275776317551/">Facebook
          dev_londrina</a><br />
                <a href="https://github.com/dev-londrina/">github.com/dev-londrina</a><br />
              </p>
            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="/js/foundation.min.js"></script>
        <script>
          $(document).foundation();
        </script>
    </body>
</html>
